In [43]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import joblib
from sqlalchemy import create_engine

In [44]:
# Load the dataset
file_path = '../Desktop/Online_Retail_Data.csv'
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [45]:
# Data Cleaning
df.dropna(subset=['CustomerID'], inplace=True)
df.drop_duplicates(inplace=True)
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['CustomerID'] = df['CustomerID'].astype(str)
df['InvoiceNo'] = df['InvoiceNo'].astype(str)
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [46]:
import datetime as dt

# RFM Analysis
max_date = df['InvoiceDate'].max()
df['Recency'] = (max_date - df['InvoiceDate']).dt.days

rfm_df = df.groupby('CustomerID').agg({
    'Recency': 'min',
    'InvoiceNo': 'nunique',  # Frequency
    'TotalPrice': 'sum'       # Monetary
}).reset_index()

rfm_df.columns = ['CustomerID', 'Recency', 'Frequency', 'Monetary']

rfm_df.head()

  CustomerID  Recency  Frequency  Monetary
0    12346.0      325          1  77183.60
1    12347.0        1          7   4310.00
2    12348.0       74          4   1797.24
3    12349.0       18          1   1757.55
4    12350.0      309          1    334.40

In [47]:
# Scaling
scaler = StandardScaler()
rfm_scaled = scaler.fit_transform(rfm_df[['Recency', 'Frequency', 'Monetary']])

rfm_scaled_df = pd.DataFrame(rfm_scaled, columns=['recency', 'frequency', 'monetary'])
rfm_scaled_df['CustomerID'] = rfm_df['CustomerID']


rfm_scaled_df.head()

    recency  frequency  monetary CustomerID
0  2.334574  -0.425097  8.363010    12346.0
1 -0.905340   0.354417  0.251699    12347.0
2 -0.175360  -0.035340 -0.027988    12348.0
3 -0.735345  -0.425097 -0.032406    12349.0
4  2.174578  -0.425097 -0.190812    12350.0

In [48]:
# Save the cleaned and scaled data to CSV
df.to_csv('cleaned_online_retail_data.csv', index=False, encoding='utf-8')
rfm_scaled_df.to_csv('rfm_scaled_online_retail_data.csv', index=False, encoding='utf-8')

In [49]:
# Save the scaler object for future transformation
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']

In [50]:
# Upload the scaled data and scaler to PSQL
engine = create_engine('postgresql+psycopg2://group_member:class@localhost:5432/customer_segmentation')

# Save cleaned data
df.to_sql('cleaned_data', engine, if_exists='replace', index=False)

# Save scaled data
rfm_scaled_df.to_sql('rfm_scaled_data', engine, if_exists='replace', index=False)

print("\nScaling completed and data saved to PostgreSQL.")

Scaling completed and data saved to PostgreSQL.